.food-template {
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 9px #777;
    color: #000;
    font-weight: bold;
}
.food-row span {
    cursor:pointer;
}
.food-row .number{
    margin:100px;
}
.food-row .minus {
    background: #E01B37;
    border-radius: 5px;
    padding: 0 18px;
    display: initial;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border: 0;
    font-size: 30px;
}
.food-row .plus{
    background: #1DA85E;
    border-radius: 4px;
    padding: 0 13px;
    display: initial;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border: 0;
    font-size: 30px;
}
.food-row input {
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: 0;
}
.food-body {
    justify-content: space-between;
    padding: 5%;
}
.btn-add {
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: #21b8ac;
    color: #fff;
    border: 0;
    padding: 10px;
}
.basket {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 20px auto;
    width: 80px;
    cursor: pointer;
}
.basket i {
    font-size: 40px;
}
.basket-body {
    position: relative;
}
.basket span {
    background: red;
    color: #fff;
    border-radius: 50%;
    padding: 1px 9px;
    position: absolute;
    right: 0;
}
.u-sheet-1 {
    text-align: center;
}
.category-image {
    position: absolute;
    left: -1px;
    top: -65px;
    width: 180px;
    border-radius: 50%;
}
.first-layer {
    position: relative;
}
.first-layer div {
    display: flex;
    justify-content: flex-end;
}
.food-row.food-title {
    padding: 5% 5% 0 0;
}
.btn-addons {
    text-align: center;
    border-radius: 4px;
    border: 0;
    background: #ffcc00;
    color: #000;
    padding: 8px 12px;
    margin-top: 5px;
}
.addons-body {
    padding: 10px;
}
.addons-item {
    padding: 5px;
}
.addons-item input {
    cursor: pointer;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.main-layer-food {
    min-height: 250px;
}
